<!DOCTYPE html>
<html lang="pt-BR">
<head>@include('partials/head')</head>
<body>
  <div class="d-flex">
    @include('partials/sidebar')
    <div class="main-content flex-grow-1">
      @include('partials/navbar')
      <main class="p-4">
        <h4 class="section-title"><i class="bi bi-house me-2"></i>Inicio</h4>
        <p>Bem-vindo ao Sistema de Votacao Legislativa</p>
      </main>
    </div>
  </div>
  @include('partials/scripts')
</body>
</html>
