<!DOCTYPE html>
<html>
<head>
  <title>Teste Edge</title>
</head>
<body>
  <h1>Teste do Edge Template</h1>
  <p>2 + 2 = {{ 2 + 2 }}</p>
  <p>Data: {{ new Date().toLocaleDateString() }}</p>

  @if(true)
    <p>Condicional funcionando!</p>
  @endif

  @each(item in ['A', 'B', 'C'])
    <span>{{ item }}</span>
  @endeach
</body>
</html>
